@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --PrimaryColor: hsl(225, 50%, 48%);
  --SecondaryColor: hsl(180, 17%, 95%);
  --colorOne: hsl(15, 74%, 70%);
  --colorTwo: hsl(28, 100%, 82%);
  --HoverColor: hsl(225, 56%, 59%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 8%, 12%);
  --textColor: hsl(240, 1%, 48%);
  --borderColor: hsl(0, 0%, 83%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyBg: hsl(0, 0%, 96%);
  --greyText: rgb(145, 145, 145);
  --inputColor: hsl(330, 12%, 97%);
  --transition: 0.45s ease-in-out;
}

body {
  background: var(--whiteColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  cursor: pointer;
}

.section {
  padding: 4rem 2rem 2rem;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 1.3rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
}

.none {
  display: none;
}

.btn {
  padding: 0.7rem 1.5rem;
  background: var(--PrimaryColor);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
  color: var(--whiteColor);

  a {
    color: var(--whiteColor);
    font-weight: 500;
  }

  &:hover {
    background-color: var(--HoverColor);
  }
}

img,
video {
  width: 100%;
  height: auto;
}

input {
  font-size: 100%;
  color: var (--greyText);
}

p {

  font-size: 13px;
  color: var(--greyText);
  line-height: 22px;
}

h4 {
  padding: 1rem 0;
  font-weight: 700;
  color: var(--blackColor);
}

h2 {
  font-size: 25px;
  padding: 1rem 0;
  color: var(--blackColor);
}

h5 {
  font-size: 20px;
  padding: 5px 0;
  color: var(--blackColor);
}

h6 {
  font-size: 10px;
  padding: 5px 0;
  color: var(--blackColor);
}

h3 {
  font-size: 15px;
  padding: 5px 0;
  color: var(--blackColor);
}

//? Navbar Styling =====
.navBar {
  position: fixed;
  flex-direction: column;
  width: 100%;
  z-index: 1000;

  .navBarOne,
  .navBarTwo {
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
  }

  .navBarOne {
    background-color: var(--SecondaryColor);


    .icon:hover {
      color: var(--PrimaryColor)
    }

    .atb {
      gap: 1rem;

      span {
        color: var(--blackColor);
        font-size: 13px;
        cursor: poointer;

        &:hover {
          color: var(--PrimaryColor);
          font-size: 700;
        }
      }
    }
  }

  .navBarTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 3rem;
    padding: 1.5rem 1rem;
    position: fixed;
    transition: 0.3s ease-in-out;


    .logoDiv {
      .Logo {
        width: 20%;
      }
    }

    @media screen and (max-width:768px) {
      .navBarMenu {
        position: absolute;
        background: var(--SecondaryColor);
        padding: 1.5rem;
        top: 5rem;
        border-radius: 10px;
        right: -50%;
        width: 80%;
        transform: translateX(50%);
        z-index: 2000;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        border: 3px solid var(--whiteColor);
        transition: .4s ease-in-out;

        .menu {
          flex-direction: column;
          gap: .5rem;
          text-align: center;

          .listItem {
            padding: 0.5rem 0;
            cursor: pointer;
            color: var(--blackColor);

            &:hover {
              color: var(--PrimaryColor);
              font-weight: 700;
            }
          }
        }

        .btnOne {
          // display: block;
          // min-height: 15px;
          justify-content: center;
          margin: auto;
          margin-top: 1rem;
        }
      }

      .btnTwo {
        display: none;
      }
    }

    .toggleIcon {
      .icon {
        font-size: 30px;
        color: var(--blackColor)
      }
    }

    .showBar {
      right: 50%;
      transform: 0.5s ease-in-out;
    }
  }

  .navBarWithBg {
    background: var(--SecondaryColor);
    padding: 1rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 6px 4px 6px -2px;
  }

}

//? Home Styling =====
.home {
  padding-top: 10rem;
  text-align: center;
  gap: 2rem;
  flex-direction: column;

  .mainText {
    color: var(--blackColor);
    font-weight: 700;
    font-size: 15px;
    line-height: 2.5rem;
  }

  .homeImages {
    width: 100%;
    margin: 1rem auto 0;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5rem;

    // .videoDiv {
    //   width: 100%;

    //   .video {
    //     border-radius: 10rem;
    //   }
    // }

    .plane {
      position: relative;
      width: 100%;
      padding-top: -500px;
      scale:0.5
    }
  }
}

//? Search Styling =====
.search {
  .sectionContainer {
    width: 100%;
    padding: 1.5rem;
    border: 2px solid var(--greyBg);
    border-radius: 16px;
    row-gap: 2rem;
    
    .btns {
      background: var(--SecondaryColor);
      padding: .5rem;
      border-radius: 1rem;
      flex-direction: column;
      width: 100%;
      margin: auto;

      .singleBtn {
        padding: .8rem 1.5rem;
        font-size: 13px;
        border-radius: 3rem;
        width: 80%;
        text-align: center;
        cursor: pointer;

        &:hover {
          background: var(--PrimaryColor);
          font-weight: 500;
          color: var(--whiteColor);
          transition: .4s ease;
        }
      }

      .active {
        background: var(--PrimaryColor);
        font-weight: 500;
        color: var(--whiteColor);
      }
    }

    .searchInputs {
      width: 100%;
      justify-content: center;
      flex-direction: column;
      gap: 1.5rem;

      .singleInput {
        .iconDiv {
          padding: 16px 10 px;
          border-radius: 3rem;
          background: var(--SecondaryColor);
          margin-right: 1rem;

          .icon {
            color: var(--blackColor);
            opacity: 0.7;
          }
        }

        .texts {
          h4 {
            padding-top: 0;
            padding-bottom: .7rem;
            color: var(--blackColor);
            font-weight: 700;
          }
          
          input, .option {
            width: 95%;
            font-size: small;
            min-width: 150px;
            border: solid 0.5px;
            color: var(--greyText);
            padding: 4px;
            border-radius: 3rem;
            outline: none;
            background: transparent;

            &::placeholder {
              font-size: 12px;
              opacity: .5;
            }
          }

          .option{
            border-radius: 3rem;
          }
        }
      }
      .btnBlock{
        justify-content: center;
      }
    }
  }
}

//? Search Flights Styling ====
.flightSearchResults {
  margin-top: 2rem;
padding: none;
margin: none;
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 2rem;
      border-bottom: 1px solid #ccc;
      padding-bottom: 1rem;

      .flightDetails {
        display: flex;
        justify-content: space-between;
        text-align: center;

        .mediumFont {
          flex: 1;
          font-size: 1.2rem;
          .flightName{
            display: grid;
            justify-content: center;
          }
        }

        .largeFont {
          flex: 1;
          font-size: 1.5rem;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}


//? Support Styling =====
.support {
  .sectionContainer {
    .titlesDiv {
      text-align: center;

      small {
        letter-spacing: .8rem;
        text-transform: uppercase;
        font-size: 13px;
        color: var(--blackColor);
        line-height: 1.5rem;
      }
    }

    .infoDiv {
      margin-top: 2rem;
      gap: 1.5rem;

      .textDiv {
        gap: 1.5rem;

        .singleInfo {
          .number {
            background: var(--PrimaryColor);
            padding: 5px 12px;
            width: 40px;
            border-radius: 3rem;
            text-align: center;
            font-size: 13px;
            font-weight: 700;
            color: var(--whiteColor);
          }

          .colorOne {
            background: var(--colorOne);
          }

          .colorTwo {
            background: var(--colorTwo);
          }
        }
      }

      .imgDiv {
        margin: auto;

        img {
          width: 100%;
          max-width: 420px;
          height: 360px;
          border-radius: 3rem;
          opacity: 0.9;
        }
      }
    }
  }
}

//? Info Styling =====
.info {
  background: var(--SecondaryColor);

  .infoContainer {
    .titleDiv {
      flex-direction: column;
      text-align: center;
      gap: 1.5rem;
      justify-content: space-between;
    }

    .cardsDiv {
      gap: 1.5rem;
      margin-top: 3rem;

      .singleCard {
        background: var(--whiteColor);
        padding: 3rem 2rem;
        border-radius: 10rem;
        gap: 1rem;
        text-align: center;
        margin: auto;
        height: 320px;
        width: 90%;
        max-width: 250px;

        .iconDiv {
          justify-content: center;
          margin: auto;
          background: var(--PrimaryColor);
          width: max-content;
          height: 55px;
          padding: 1rem;
          border-radius: 3rem;

          .icon {
            color: var(--whiteColor);
          }
        }

        .cardTitle {
          color: var(--blackColor);
          font-weight: 700;
        }

        .colorOne {
          background: var(--colorOne);
        }

        .colorTwo {
          background: var(--colorTwo);
        }
      }
    }
  }
}

//? Lounge Styling =====
.lounge {
  .sectionContainer {
    gap: 1.5rem;

    .imgDiv {
      margin: auto;

      img {
        width: 100%;
        max-width: 430px;
        border-radius: 3rem;
      }
    }

    .textDiv {
      .grids {
        margin-top: 1rem;
        gap: 1.5rem;

        .singleGrid {
          .gridTitle {
            display: block;
            padding-bottom: .5rem;
            font-weight: 500;
            color: var(--blackColor);
          }
        }
      }
    }
  }
}

//? Traveler Styling =====
.travelers {
  .sectionContainer {
    text-align: center;

    .travelersContainer {
      margin-top: 1rem;
      gap: 1.5rem;

      .singleTraveler {
        position: relative;
        height: 320px;
        width: 85%;
        max-width: 250px;
        overflow: hidden;
        border-radius: 10rem;
        gap: 1rem;
        margin: auto;

        .destinationImage,
        .travelerImage,
        .travelerName {
          position: absolute;
        }

        .destinationImage {
          height: 100%;
          width: 100%;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          object-fit: cover;
        }

        .travelerImage {
          height: 50px;
          width: 50px;
          object-fit: cover;
          border-radius: 50%;
          bottom: 30px;
          left: 40%;
          // transform: translateX(-50%);
          border: 5px solid rgba(225, 225, 225, 0.637);
          transition: var(--transition);
          animation: animated 2.3s infinite;
        }

        @keyframes animated {
          0% {
            transform: translateY(0px);
          }

          50% {
            transform: translateY(8px);
          }

          90% {
            transform: translateY(0px);
          }
        }

        .travelerName {
          bottom: -100%;
          width: 100%;
          height: max-content;
          background: var(--whiteColor);
          padding: 1.5rem 1rem;
          transition: var(--transition);
          animation: animatedBorders 2.3s infinite;

          span {
            display: block;
            color: black;
            font-weight: 700;
          }

          p {
            color: var(--PrimaryColor);
            font-style: italic;
          }
        }

        @keyframes animatedBorders {
          0% {
            border-radius: 0rem;
          }

          50% {
            border-radius: 2rem;
          }

          100% {
            border-radius: 0rem;
          }
        }

        &:hover {
          .travelerName {
            bottom: 0;
            transition: 1s ease-in-out;
          }

          .travelerImage {
            bottom: 110px;
            transition: 1s ease-in-out;
          }
        }
      }
    }
  }
}

//? Footer Styling =====
.footer {
  background: var(--SecondaryColor);

  .sectionContainer {
    gap: 2.5rem;

    .gridOne {
      gap: 1rem;
      justify-content: center;
      margin: auto;

      .logoDiv {
        .Logo {
          width: 20%;
        }
      }

      .socialIcon {
        margin-top: 1rem;
        gap: 1rem;

        .icon {
          height: 50px;
          width: 30px;
          border-radius: 10rem;
          border: 1px solid var(--borderColor);
          box-shadow: var(--boxShadow);
          padding: .4rem;
          color: var(--greyText);
          transition: var(--transition);

          &:hover {
            background: var(--PrimaryColor);
            transform: translateY(-7px);
            transition: var(--transition);
            border: 1px solid var(--PrimaryColor);
            color: var(--whiteColor);
          }
        }
      }
    }

    .footerLinks {
      display: grid;

      .linkTitle {
        color: var(--blackColor);
        font-weight: 500;
        display: block;
        padding-bottom: 1rem;
      }

      li a {
        display: block;
        color: var(--greyText);
        transition: var(--transition);
        padding: .3rem 0;

        &:hover {
          transform: translateX(7px);
          color: var(--primaryColor);
        }
      }
    }
  }

  .copyRightDiv {
    justify-content: center;
    margin-top: 1.5rem;
    padding: 1rem;
    gap: 1rem;
    border-top: 1px solid var(--greyText);
    text-align: center;
  }


}

//? MEDIA QUERIES
@media screen and (min-width: 480px) {
  .home {
    padding-top: 12rem;
  }

  .search {
    .sectionContainer {
      justify-content: center;
      .searchInputs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .travelers {
    .sectionContainer {
      .travelersContainer {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }


  .footer {
    .sectionContainer {
      align-items: flex-start;
      grid-template-columns: repeat(2, 1fr);
    }

    .footerLinks {
      justify-content: center;
    }
  }
}

@media screen and (min-width: 570px) {
  .home {
    .mainText {
      width: 80%;
    }

    .homeImages {
      .videoDiv {
        border-radius: 15rem;
      }

      .plane {
        position: absolute;
        width: 95%;
        top: -8%;
      }
    }
  }

  .search {
    .sectionContainer {
      justify-content: center;
      padding-left: 8rem;
      .searchInputs{
        .btnBlock{
          width: 250px;
        }
      }
      .btns {
        border-radius: 3rem;
        flex-direction: row;
      }
    }
  }


  .support {
    .sectionContainer {
      .infoDiv {
        .textDiv {
          margin-top: 2rem;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  /* Info styling */
  .info {
    .infoContainer {
      .titleDiv {
        flex-direction: row;
        flex-wrap: wrap;

        h2 {
          text-align: left;
          max-width: 500px;
        }
      }

      .cardsDiv {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .lounge {
    .sectionContainer {
      .textDiv {
        .grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  .footer {
    .sectionContainer {
      padding-top: 2rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 680px) {
  .home {
    padding-top: 12rem;

    .mainText {
      width: 80%;
    }

    .homeImages {
      .videoDiv {
        width: 80%;

        .video {
          height: 100%;
          width: 100%;
          border-radius: 15rem;
        }
      }

      .plane {
        width: 95%;
        top: -8%;
      }
    }
  }

  .search {
    .sectionContainer {
      justify-content: center;
      padding-left: 8rem;

      .btn {
        border-radius: 3rem;
        flex-direction: row;

        .searchInputs {
          grid-template-columns: repeat(3, 1fr);
          .singleInput {
          .texts {
            input,.option {
              width: 300px
            }
          }
        }
          .btnBlock{
            width: 150px;
          }
        }
      }

      
    }
  }

  .footer {
    .sectionContainer {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (min-width: 768px) {
  .navBar {
    align-items: center;

    .navBarOne {
      .none {
        display: flex;
        gap: 1.5rem;

        li {
          font-size: 13px;
          gap: .5rem;
          color: var(--textColor);

          &:hover {
            color: var(--PrimaryColor);
            text-decoration: underline;
          }
        }
      }
    }

    .navBarTwo {
      justify-content: space-between;
      align-items: center;

      .logoDiv {
        .Logo {
          max-width: 20%;
        }
      }

      .menu {
        flex-direction: row;
        gap: 0.5rem;

        .listItem {
          padding: 0 .5rem;
          font-size: 14px;
          cursor: pointer;
          color: var(--textColor);
          font-weight: 700;

          &:hover {
            color: var(--PrimaryColor);
            font-weight: 700;
          }
        }

      }

      .btnOne,
      .toggleIcon {
        display: none;
      }
    }
  }

  .search {
    .sectionContainer {
      justify-content: center;
      .btns {
        // width: 70%;
        border-radius: 3rem;
        flex-direction: row;
      }

      .searchInputs {
        grid-template-columns: repeat(1, 1fr);

        .singleInput {
          .texts {

            input,.option {
              width: 200px
            }
          }
        }

        .btnBlock{
          width: 250px
        }
      }
    }
  }

  .support {
    .sectionContainer {
      .infoDiv {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin-top: 5rem;

        .textDiv {
          margin-top: 0rem;
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

  .info {
    .infoContainer {
      padding: 0 6rem;

      .titleDiv {
        width: 90%;
        margin: auto;
        align-items: center;

      }

      .cardsDiv {
        grid-template-columns: repeat(3, 1fr);

        .singleCard {
          max-width: 260px;
          padding: 3rem 1rem;
        }
      }
    }
  }

  .lounge {
    .sectionContainer {
      grid-template-columns: repeat(2, 1fr);

      .textDiv {
        grid-area: 1;

        .grids {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  .travelers {
    .sectionContainer {
      .travelersContainer {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .home {
    padding-top: 13rem;

    .mainText {
      width: 70%;
      padding-bottom: 1.5rem;
      font-size: 22px;
      line-height: 4rem;
    }
  }

  .search {
    .sectionContainer {
      .searchInputs {
        grid-template-columns: repeat(3, 1fr);

      }
      .btns {
        width: 90%;
      }
    }
  }

  .travelers {
    .sectionContainer {
      .travelersContainer {
        grid-template-columns: repeat(4, 1fr);
        margin: 3rem 0;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 15px;
    line-height: 25px;
  }

  h4 {
    font-size: 20px;
  }

  h2 {
    font-size: 27px;
  }

  .section {
    padding: 6rem 0 4rem;
  }

  .container {
    width: 75%;
    margin: auto;
  }

  .navBar {

    .navBarOne,
    .navBarTwo {
      padding: 1.5rem 5rem;
    }

    .navBarWithBg {
      padding: 0 5rem;
    }
  }

  .home {
    .mainText {
      width: 60%;
      font-size: 25px;
      line-height: 4rem;
    }

    .homeImages {
      .videoDiv {
        width: 90%;
        height: 300px;

        .video {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 15rem;
        }
      }
    }

    .plane {
      width: 100%;
      top: -10%;
    }

    .search {
      .sectionContainer {
        .btns {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (min-width: 1332px) {
  .navBar {
    .navBarTwo {
      .menu {
        gap: 1rem;

        .listItem {
          padding: 0 1.5rem;
          font-size: 14px;
        }
      }


    }

    .navBarWithBg {
      padding: 0 5rem;
    }
  }

  .support {
    .sectionContainer {
      .infoDiv {
        gap: 1rem;
        .textDiv {
          .singleInfo{
            p{
              max-width: 500px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px){
  .home {
    .homeImages{
      .plane{
        width: 90%;
        top: -30%;
      }
    }
   
  }
} 

::selection{
 background: var(--PrimaryColor); 
 color: var(--whiteColor);
}

/* Styling for scrollbars */
::-webkit-scrollbar {
  width: 10px;
  background: var(--greyBg);
}

::-webkit-scrollbar-thumb {
  background: var(--PrimaryColor);
  border-radius: 10px;
}
